*{
    box-sizing: border-box;
}

.html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    flex-direction: column;  
    font-family: "rubik", 'sans-serif';
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
*:focus {
    outline: 2px dashed #7299ec;
    outline-offset: 3px;
}

.button {
    padding: 13px 20px;
    background-color: #7296ec;
    border-radius: 10px;  
    color: #fff;
    text-decoration: none; 
    border-style: none;
}
/* header-stylesw */

.site-header-top {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-header-logo{
    display: flex;
    margin-right: 35px;
    padding: 8px 6px;
    background-color: #fff;
    border-radius: 7px;
    
}

.logo-img {
    width: 264px;
    height: 28px;
    object-fit: contain;
}

.site-header-logo:hover{
    opacity: 0.8;
}
.site-header-logo:active{
    opacity: 0.6;
}

.site-header-value-info {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}
.site-header-dollar {
    margin-right: 35px;
}
.currency-rates-type {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}
.site-header-currency:not(:last-child){
    margin-right: 25px;
}
/* search */
.input-search{ 
    width: 275px;
    padding-top: 15px;
    padding-left: 42px;
    padding-bottom: 13px;
    border-radius: 60px;
    border-style: none;
    margin-right: 25px;
}

/* toogle */
.lang-toogle {
    display: flex;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    margin-right: 25px;
}
.lang-toogle-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #a6a6a6;
    
}
.lang-toogle-link:hover{
    text-decoration: underline  ;
}
.lang-toogle-link-active {
    background-color: #fff;
    color: black;
}
/* site-header-main-link */
.button-site-header:hover{
    opacity: 0.8;
}
.button-site-header:active {
    opacity: 0.6;
}

/* Site-nav */
.site-nav-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
}
.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav-list:not(:last-child){
    margin-right: 34px;
}

.site-nav-list-link {
    text-decoration: none;
    color: #7F7F7F;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
}

.site-nav-list-link:hover{
    color: #7296ec;
    transition: 0.6s ease;
}

.site-nav-list-link:active{
    opacity: 0.8;
    color: #000;
}
.hr{
    margin-bottom: 40px;
}
.banner-img{
    border-style: none;
    margin-bottom: 50px;
}
.banner{
    
    margin-bottom: 50px;
}



/* news card */
.hero-container{
    width: 1240px;
    margin-bottom: 60px;
}
.hero-card.hero-card.hero-card{
    padding: 20px 17px 15px 17px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f6f6f6;
    width: 393px;
    padding: 20px, 17px, 15px, 17px;
}


.hero-card:last-child{
    margin: 0;
}


.hero-card-link{
    text-decoration: none;
}
.hero-card-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero-card-list-item{
    margin: 0;
    padding: 0;
}
.hero-title{
    margin-bottom: 10px;
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.hero-title:hover{
    color: #7296ec;
    transition: 0.5s ease;
}
.hero-title:active{
    opacity: 0.8;
}
.hero-text{
    margin-bottom: 15px;
    color: #4A4B4C;
    line-height: 22px;
}
.hero-card.hero-card.hero-card:nth-child(3n){
    display: flex;
    
    
}

.card-img{
    border-radius: 10px;
    margin-bottom: 15px;
}
.card-time{
    margin: 0;
    color: #5E5F61;
}
.icon-news{
    margin-right: 10px;
}
.time-wrapper{
    display: flex;
    align-items: center;
}

/* notfication CTA */
.notification-wrapper{
    padding-top: 24px;
    padding-bottom: 24px;    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/news-reporter.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 29px;
    padding-right: 71px;
    margin-bottom: 60px;
    
    
    
}
.notification-title-wrapper{
    max-width: 404px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
    
    
}
.notification-title{
    font-family: 'rubik';
    font-weight: 500;
    font-size: 20px; padding: 0;
    margin: 0;
    line-height: 26px;
    color: #000000;
}
.button-orange{
    
    color: #fff;
    background-color: #F78B3B;
}

/* news-grid */

.news-list-item {
    display: flex;
}
.article-card-horizontal {
    width: 797px;
}
.news-list-item-img {
    display: flex;
    justify-content: flex-start;
    margin-right: 25px;
}
.news-card-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.news-card-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}



/* global-news */

.global-news-list{
    display: flex;
    align-items: center;
    max-width: 797px;  
    background-color: #F6F6F6;
    padding: 20px 17px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.global-news-list:not(:last-child){
    margin-bottom: 10px;
}

.global-news-link {
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
}
.global-news-title {
    max-width: 535px;
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.global-news-title:hover{
    color: #7296ec;
    transition: 0.4s ease;
}

.global-news-title:active{
    opacity: 0.8;
    transition: 0.4s ease;
}

.global-news-text {
    max-width: 535px;
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.global-news-img{
    margin-right: 15px;
    border-radius: 10px;
}
.global-news-span-time {
    display: flex;
}


/* Sidebar */
.layout-2-1{
    display: flex;
    align-items: flex-start;
}
.layout-2-1-global-news{
    
}
.layout-2-1-sidebar{
    width: 393px;
}
.sidebar-section {
    padding: 20px 17px 25px;
    border-radius: 15px;
    background-color: #f6f6f6;
    color: #000;
}
.sidebar-title {
    margin: 0;
    padding: 0;
}
.sidebar-list {
    margin: 0;
    padding: 0;
}
.sidebar-list-item {
    list-style: none;
}
.sidebar-list-item:not(:last-child){
    border-bottom: 1px solid #d2d2d2;
}

.sidebar-list-item-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.sidebar-list-item-link:hover{
    color: #7296ec;
    transition: 0.6s ease;
}
.sidebar-list-item-link:active{
    opacity: 0.8;
    color: #000;
}
.sidebar-list-item-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.side-bar-time-wrapper {
     padding-bottom: 20px;
}
.sidebar-time-channel-info {
    font-size: 13px;
    line-height: normala;
    color: #5E5F61;
}
.datatime{
    color: #5E5F61;
} 